
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar is an id not a class, to not get in the way of the javascript used to make it sticky */
#navbar{
    width: 100%;
    background-color: #333333;
    overflow: hidden;
}
#navbar a{
    display: block;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    float: left;
    font-family: Mr Eaves;
    font-size: 1.75em;
}
#navbar a.active{
    background-color: #990100;
}
#navbar a:hover{
    background-color: #B90504;
}


/* sets the navbar div to the top of the page when activated by javascript function in "nav.html" */
.sticky{
    position: fixed;
    top: 0;
}

/* if divs with the class "sticky" and "content" interact, adda a margin (allows for smooth sticky navbar */
.sticky + .content{
    padding-top: 46px; /* WARNING this will need to be changed if I ever change the size of the navbar in any way */
}

.body {
    margin: 0px;
}

a:link{
    color: #F6F6F6;
}

a:visited{
    color: #F6F6F6;
}

a:hover{
    color: #F6F6F6;
}

a:active{
    color: #F6F6F6;
}


.spelllist{
    display: flex;
    flex-direction: column;
}

.spelllink{
    display: block;
    /* margin: 5px; */
    overflow: hidden;
    align-self: center;
    width: 90%;
}

.spelllink:nth-child(even){
    background-color: #e6e6e6;
}
.spelllink:nth-child(odd){
    background-color: #999999;
}

.spelllink a{
    padding: 14px 16px;
    text-align: left;
    text-decoration: none;
    float: left;
    width: 100%;
    color: #333333;
    font-family: Scaly Sans Caps;
    font-weight: 600;
}

.spelllink a:hover{
    background-color: #B90504;
    color: #F6F6F6;
}





h1{
    font-family: Modesto;
    font-weight: normal;
    font-style: normal;
    font-size: 6em;
}
h2{
    font-family: Mr Eaves;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
}
p{
    font-family: Scaly Sans;
    font-weight: normal;
    font-style: normal;
}



/* these fonts have been recreated from the official fonts used in the D&D rulebooks, under a creative commons license, meaning as long as I am not charging for the use of the fonts I am allowed to use them. They were made specifically for projects like mine. */
@font-face {
    font-family: Scaly Sans;
    src: url(solbera-dnd-fonts-master/Scaly\ Sans/Scaly\ Sans.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Modesto;
    src: url(solbera-dnd-fonts-master/Nodesto\ Caps\ Condensed/Nodesto\ Caps\ Condensed.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bookinsanity;
    src: url(solbera-dnd-fonts-master/Bookinsanity/Bookinsanity.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mr Eaves;
    src: url(solbera-dnd-fonts-master/Mr\ Eaves/Mr\ Eaves\ Small\ Caps.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Scaly Sans Caps;
    src: url(solbera-dnd-fonts-master/Scaly\ Sans\ Caps/Scaly\ Sans\ Caps.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Zatanna Misdirection;
    src: url(solbera-dnd-fonts-master/Zatanna\ Misdirection/Zatanna\ Misdirection.otf);
    font-weight: normal;
    font-style: normal;
}




