{% extends 'layout.html' %}

<!-- form for entering data for account creation -->

{% block content %}

{% if error is true %}
    <br>
    {{ error }}
{% endif %}
<br>
<form method = 'POST' action = '/createaccount' name = 'createaccount'>
    <input type = 'text' name = 'username' placeholder = 'username'>
    <br>
    <br>
    <input type = 'password' name = 'password' placeholder = 'password'>
    <br>
    <br>
    <input type = 'submit' class = 'button' value = 'Create Account'>
</form>

{% endblock content %}