{# this page presents a landing page for the site and a blurb to welcome users and inform them how to use the site. #}

{% extends "layout.html" %}

{% block content %}
<br>
<h2>Welcome to the Arcanomicon. My name is Aliban, and I'll be your guide during your visit.</h2>
<p>
    The Arcanomicon is a collection of all the magical knowledge I have gathered over my long life and through many travels to other countries, continents and even planes of existence. 
    Through the portal on which you are reading this, I can show you the extent of my library, fetch you spells based on their name, filter and order them based on a number of parameters, 
    and even present to the adventurers out their a list of spells which their respective classes can cast. For those interested in returning in future, I can assist you in setting up a 
    membership with us, and I'll even set aside five cubby holes for any spells you might wish to store and look up on future visits.
    <br>
    I hope you enjoy your stay, and if you have any questions or feedback on the site please feel free to send me a message at <em>alibanzovschie@gmail.com</em>
</p>
{% endblock content %}