<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Aliban's Arcanomicon</title>
</head>
<body>
    <header>{% include 'header.html' %}</header>
    <nav>{% include 'nav.html' %}</nav>
    <main>
        {% block content %} {% endblock content %}
    </main>
    <footer>{% include 'footer.html' %}</footer>
</body>
<script>
    window.onscroll = function() {scrollfunc()};

    var navbar = document.getElementById("navbar");

    var sticky = navbar.offsetTop;

    function scrollfunc() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</html>