{# this is the framework on which the entire website functions. other pages are included in the content section, and the header, nav, and footer elements are always present. #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for Dungeons and Dragons fifth edition players to view spells on.">

    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Aliban's Arcanomicon</title>
</head>
<body>
    <header>{% include 'header.html' %}</header>
    <nav id="navbar">{% include 'nav.html' %}</nav>
    <div class="content">
        {% block content %} {% endblock content %}
    </div>
    <br>
    <br>
    <footer>{% include 'footer.html' %}</footer>
</body>
<script>
    window.onscroll = function() {myFunction()}; //when window scrolls call on function
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop; //finds how much off the div is from the top of the screen
    function myFunction() {
        if (window.pageYOffset >= sticky) { //if the page is scrolled down so part of the div isn't on the screen
            navbar.classList.add("stickynav") //give it the "sticky" class which is styled to be fixed at the top
        } else {
            navbar.classList.remove("stickynav"); //if not, remove the class
        }
    }
</script>
</html>