{# this is a sub-component of the layout page, this file presents a way for users to navigate the website. #}

{# the links each have a nifty piece of jinja which checks if the current requested url is the same as that of the page it leads to, and if so, is presented with a different colour to inform the user where they are on the site. #}

{% if request.path == "/" %}
    <a href="/" class="active">Home</a>
{% else %}
    <a href="/">Home</a>
{% endif %}


{% if request.path == "/spells" %}
    <a href="/spells" class="active">Spells</a>
{% else %}
    <a href="/spells">Spells</a>
{% endif %}


{% if request.path == "/casters" %}
    <a href="/casters" class="active">Casters</a>
{% else %}
    <a href="/casters">Casters</a>
{% endif %}


{% if request.path == "/search" %}
    <a href="/search" class="active">Search</a>
{% else %}
    <a href="/search">Search</a>
{% endif %}