{% extends 'layout.html' %}

{% block content %}

    <h2>
        {{ spell.name }}
        {% if spell.ritual == 1 %} {# if it's a ritual, says so #}
            (Ritual)
        {% endif %}
    </h2>

    <p>
        {% if spell.level == 0 %} {# grammatical formatting #}
            A {{ spell.schools.name }} cantrip {# level 0 spells are also known as cantrips #}
        {% else %}
            A level {{ spell.level }} {{ spell.schools.name }}
        {% endif %}
        <br>
    
        <b>Components:</b> {{ spell.components }} <br>
        <b>Range:</b> {{ spell.ranges.name }} <br>
        <b>Duration:</b> 
        {% if spell.concentration == 1 %} {# takes into account concentration, a mechanic where spells can end early #}
            up to {{ spell.durations.name }} (concentration) <br>
        {% else %}
            {{ spell.durations.name }} <br>
        {% endif %}
        <b>Casting time:</b> {{ spell.castingtimes.name }} <br>
        <br>
        {{ spell.description }}
    </p>
{% endblock content %}